@import "./utils/vars";
@import "./utils/mixin";
@import "./base/reset";
@import "./base/section";
@import "./base/common";
@import "./utils/hidden";
@import "./utils/placeholders";

@import "./components/container";
@import "./components/logo";
@import "./layouts/_mobile-menu.scss";
@import "./components/title";
@import "./components/navigation";
@import "./components/btn";


@import "./layouts/header-logo";
@import "./layouts/header";
@import "./layouts/hero";
@import "./layouts/hero-form";
@import "./layouts/features";
@import "./layouts/about";
@import "./layouts/team";
@import "./layouts/customers";
@import "./layouts/footer-logo";
@import "./layouts/footer-address";
@import "./layouts/footer-media";
@import "./layouts/footer-subscribe";
@import "./layouts/portfolio";










