.container{
    padding-right: 15px;
    @include values(100%, null);
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
     
    @include mobile{
        width: 480px;
    }
    @include tablet{
        width: 768px;
    }
    @include desktop{
        width: 1200px;
    }
}
