.logo{
    display: flex;
    font-family: 'Raleway';
    
    @include font(null, 24px, 1.16);

    @include desktop {
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
}


.header__logo-studio--color-dark{
    color: var(--second-logo-color);
}

.logo__footer-studio--color-light {
    color: var(--hero-color);
}
