body{
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    background-color: var(--primary-backgraund-color);
}

.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.link{
    text-decoration: none;
}



.current{
    color: #2196F3;
}
