:root{ 
    --title-text-color:#212121;
    --button-text-color:#212121;
    --primary-backgraund-color:#FFFFFF;
    --primary-text-color:#757575;
    --first-logo-color:#2196F3;
    --button-active-color:#2196F3;
    --button-color:#F5F4FA;
    --about-backgraund-color:#F5F4FA;
    --hero-backgraund-color:#2F303A;
    --second-logo-color:#000000;
    --hero-color:#FFFFFF;

    --timing-function:cubic-bezier(0.4, 0, 0.2, 1)
    
}
