.about{
    display: none;
    @include desktop {
    padding-top: 0;
    display: contents;}
    
}

.about__title{
    margin-bottom: 50px;
}

.about__list{
    display: flex;
}

.about__item-cards{
    position: relative;
}

.about__item:not(:last-child){
    margin-right: 30px;
}

.about__item-text{
    position: absolute;
   @extend %aline-list;
    justify-content: center;

    @include font(700, 14px, 1.14);
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: var(--hero-color);
    background-color: rgba(47, 48, 58, 0.8);
}