

.customers__title{    
    @include font(null, 28px, 1.17);
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    @include desktop {
    margin-bottom: 50px;
    @include font(null, 36px, 1.17);}
}

.client__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.client__item-example {
    @extend %aline-list;
    @include values (210px, 92px);
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;

    transition: border-color 250ms var(--timing-function);

    @include tablet{
        @include values (226px, 92px);

    }
  
    @include tablet{
        @include values (226px, 92px);
    }

    @include desktop{
        flex-wrap: nowrap;
        @include values (170px, 92px);
    }

    &:hover,
    &:focus{
        border-color:var(--button-active-color);
    }
   
}
.client__icons{
    fill:#AFB1B8;
    transition: fill 250ms var(--timing-function);
    .client__item-example:hover &,
    .client__item-example:focus &{
        fill:var(--button-active-color);  
    }   
}
