.subscribe{
    display: block;
    @include tablet{ 
        display: flex;
        flex-direction: column;
    }
}


.subscribe__title{
    @include font(700, 14px, 1.14);
    text-transform: uppercase;
    color: var(--hero-color);
    margin-bottom: 20px;
    @include tablet{
        display: block;
    }
}

.subscribe__form{
    display: block;
    @include tablet{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.comment__email{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    overflow: hidden;

    color: var(--hero-color);
    outline: currentColor;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    transition: color 250ms var(--timing-function),
    filter 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
    &:focus {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        color: var(--hero-color);
        border-color: var(--button-color);
    }
    &::placeholder{
        @extend %aline-list;
        @include font(null, 16px, 1.25);
        color: rgba(255, 255, 255, 0.6);
    }
}

.submit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn__subscribe {
    position: relative;
    padding: 10px 62px 10px 28px;
    outline: var(--button-active-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    transition: color 250ms var(--timing-function), 
    box-shadow 250ms var(--timing-function);
    &:focus{
        outline: var(--button-active-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
}


.picture{
    fill: currentColor;
    position: absolute;
    right: 28px;
    top:13px;
}