.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--hero-backgraund-color);
}

.logo__footer{
    color: var(--button-active-color);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    justify-content: center;

}

.logo__footer-studio {
    padding-top: 0px;
    padding-bottom: 0px;
}
