.address{
    font-style: unset;
    margin-top: 0px;
}


.address__location {
    @include font(null, 12px, 1.71);
    margin-top: 0px;

    color: var(--hero-color);
    transition: color 250ms var(--timing-function);
}


.address__item:not(:last-child){
    margin-bottom: 9px;
}

.address__location:hover,
.address__location:focus,
.address__mail:hover,
.address__mail:focus,
.address__tel:hover, 
.address__tel:focus{
    color: var(--button-active-color);
}


.address__tel{
    margin-top: 0px;
}

.address__mail, .address__tel {
    @include font(null, 14px, 1.71);
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--timing-function);
}
