.footer {
    background-color: var(--hero-backgraund-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo__footer{
    color: var(--button-active-color);
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;

}

.logo__footer-studio {
    padding-top: 0px;
    padding-bottom: 0px;
}
