.header__logo{
    padding-top: 24px;
    padding-bottom: 25px;
    color: var(--first-logo-color);

}


.header__logo-studio{
    // color: var(--second-logo-color);
    padding-top: 0px;
    padding-bottom: 0px;
}
