.header{
    background-color: var(--primary-backgraund-color);
    border: 1px solid #ECECEC;
    border-top: none;
    border-right: none;
    border-left: none;
}

.current{
    color: var(--button-active-color);
}

.navigation_container{
    display: flex;
    justify-content: space-between

}

.navigation{
    display: flex;
}




.navigation__list{
    display: none;
    @include tablet{
        display:contents;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        margin-left: 87px;
        position: relative;
    & .navigation__item + .navigation__item{
        margin-left: 50px;
    }
    & .navigation__link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }
    }
    @include desktop {
        margin-left: 93px;
    }
   
}


.navigation__link {
    @include tablet{
        position: relative;
        display: block;
   
        color: var(--title-text-color);

        transition: color 250ms var(--timing-function);
        &:hover,
        &:focus{
            color: var(--button-active-color);
        }
}

.current{
    color: #2196F3;
}

.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom:-1px;
    display: block;
    @include values(100%, 4px);
    border-radius: 2px;
    background-color: var(--button-active-color);
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
}


.contacts__list{
    display: none;
    @include tablet{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;


        gap: 10px;
        // justify-content: flex-end;
        padding-top: 21px;
        padding-bottom: 21px;

        & .contacts__item + .contacts__item{
            margin-left: 30px;
        }
    }

}

.contacts__link{
    @include tablet{

        @include font(500, 12px, 0.17, 0.02em);
        color: var(--primary-text-color);
    }

    @include desktop {
    @include font(500, 14px, 0.14, 0.02em);
    color: var(--primary-text-color);
    padding-top: 32px;
    padding-bottom: 32px;}
}


.contacts__link-mail {
    @extend %aline-list;

    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus{
        color: var(--button-active-color);
    }
}

.contacts__link-tel {
    @include tablet {

        display: flex;
        align-items: baseline;
        height: 16px;
        margin-left: 0;
        margin-right: 15px; 
        transition: color 250ms var(--timing-function);
        &:hover,
        &:focus{
            color: var(--button-active-color);
        }
    }
}


.contacts__icon{
    @include tablet {
        display: block;
        margin-right: 8px;
        fill: currentColor;
    }
    @include desktop {
        margin-right: 10px;
        width: 16px;
        height: 12px;
    }
}

.contacts__icon-tel{
    @include tablet{
        width: 10px;
        height: 14px;
    }
    @include desktop {
        width: 10px;
        height: 16px;
    }
}

.contacts__icon-mail{
    @include tablet{
        width: 10px;
        height: 14px;
    }
    @include desktop {
        width: 16px;
        height: 12px;
    }
}





