.backdrop{
    position: fixed;
    @include values(100%, 100%);
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 500ms var(--timing-function),
    visibility 500ms var(--timing-function);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}


textarea{
    resize: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    @include values(450px, 609px);

    // @include values(528px, 581px);

    padding: 40px;

    background-color: #fff;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 500ms var(--timing-function), min-height 500ms var(--timing-function) ;
}


.button__x{
    @extend %aline-list;

    position: absolute;
    top: 8px;
    right: 8px;
    @include values(30px, 30px);
    background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.button__x:hover .button__icon,
.button__x:focus .button__icon{
    fill: var(--button-active-color);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
    min-height: 0;
}

.form__title{
    @include font(700, 20px, 1.15);
    text-align: center;
    color:var(--title-text-color);
    margin-bottom: 12px;
}

.form__field{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    margin-bottom:10px;
}

.form__label{
    display: block;
    @include font(null, 12px, 1.17, 0.01em);
    margin-bottom: 4px;
    color: var(--primary-text-color);
}

.input__wrap{
    position: relative;
}
.form__input{
    @include values(100%, 40px);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 12px 12px 42px;
    font-weight: 12;
    color: var(--button-text-color);
    cursor: pointer;
    &:focus{
        outline-color: var(--button-active-color);
    }
    &::placeholder{
        @include font(null, 12px, 1.17, 0.01em);
        color: rgba(117, 117, 117, 0.5);
    }
}

.form__icon{
    position: absolute;
    left:12px;
    top:50%;
    transform: translateY(-50%);
    .form__input:focus ~ & {
        fill: var(--button-active-color);
     }
}



.form__comment{
    margin-bottom: 20px;
}

.comment{
@include values(100%, 120px);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;

    @include font(null, 12px, 1.17, 0.01em);
    color: var(--button-text-color);
    cursor: pointer;
    transition:outline-color 250ms var(--timing-function);
    &::placeholder{
       @include font(null, 14px, 1.14, 0.01em);
    }
    &:focus{
        outline-color: var(--button-active-color);
    }
}


.checkbox{
    -webkit-perspective: none;
    -moz-appearance: none;
    appearance: none;
    position: absolut;
    &:checked + .check__text span{
        background-color: var(--button-active-color);
        border: var(--button-active-color);
    }
    &:checked + .check__text .icon__check {
        fill: var(--primary-backgraund-color);
     }
    &:focus + .check__text span{
        border-color: var(--button-active-color);
    }

}
.form__field-checkbox{
    @extend %aline-list;
    justify-content: center;
    position: relative;
    @include values(100%, 24px);
    margin-bottom: 30px;
}


.form__checkbox-link{
    @include font(null, 12px, 1.16);
    // @include font(null, 14px, 1.71);
    color: var(--button-active-color);
}


.check__text{
    @extend %aline-list;
    justify-content: center;
    @include font(null, 12px, 1.16);
    color: var(--primary-text-color);
    transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function),
    border-color 250ms var(--timing-function);
     span{
        @extend %aline-list;
        justify-content: center;
        @include values(16px, 15px);
         border:  2px solid var(--button-text-color);
         border-radius: 3px;
         margin-right: 7px;
     }
    //  @include font(null, 14px, 1.71);
}


.icon__check{
    fill: transparent;
    transition: fill 250ms var(--timing-function);
}


.btn__submit{
    display: block;

    margin: 0 auto;

    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: outline 250ms var(--timing-function);
    &:focus{
        outline: var(--button-active-color);
    }
    
}

