.hero{
    padding-top: 0;
}

.hero_container{
    background-color: var(--hero-backgraund-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero_mob_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    padding: 118px 45px;

    @include retina{
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero_mob_2x.png);
    }
    @include mobile{
        padding: 118px 60px;
    }

    @include tablet{
        padding: 118px 204px;
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero_tab_1.jpg);
        @include retina{
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero_tab_2x.jpg);
        }
    }

     @include desktop{
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
        min-height: 600px;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero_desk_1.jpg);
        @include retina{
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../images/hero_desk_2x.jpg);
        }
    }

}


.hero__title {
    @include font(900, 26px, 1.62, 0.06em);
    color: var(--hero-color); 
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase; 
    @include mobile{
        max-width: 360px; 
    }
   
    @include desktop{
    max-width: 696px;
    @include font(900, 44px, 1.36, 0.06em);
    }
}


.hero__btn {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    margin: 0 auto;

    @include desktop{
        min-width: 216px;
    }
}