.mobile__btn{
    background-color: #fff;
    border-radius: 10%;
    border-color: transparent;
    width: 40px;
    height: 40px;
    margin-left: auto;
    @include tablet{
        display: none;
    }
    
}

.image__menu{
    display: block;
  margin-left: auto;
}

.mob__menu {
    position: fixed;
    background-color: #fff;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 48px;
    >.container{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.mobile-close__btn {
    display:flex;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-color: transparent;
    background-color: #fff;
    align-items: center;

}


.mob-navigation__item:not(:last-child) {
    margin-bottom: 32px;

}
.mob-navigation__link {
    @include font(500, 40px, 1.18, 0.02em);
    color: #212121;
}


.mob-contacts__item:not(:last-child){
    margin-bottom: 32px;
}


.mob-contacts__link-mail {
    @include font(500, 24px, 1.17, 0.02em);
    color: #757575;
    
}
.mob-contacts__link-tel {
    @include font(500, 34px, 1.18, 0.02em);
    color: #2196F3;
}
.mobile-soc__list {
    display: flex;
    flex-wrap: wrap;
   
}
.mobile-soc_item:not(:last-child){
    padding-right: 10px;
    border-right: 1px solid rgba(33,33,33,.2);}


.mobile-soc__link {
    display: block;
    @include font(500, 18px, 1.22, 0.02em);
    color: #2196F3;
    
}



