.button-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    row-gap : 15px;
    padding: 60px 124px 40px 0px;

    @include tablet{
        flex-wrap: nowrap;
        margin-bottom: 14px;
    }

    @include desktop {
        margin-bottom: 50px;
    }
   
}

.button-list__item{
    width: calc((100% - 16px) / 3);
}

.filter__btn{
    display:block;
    @include font(500, 16px, 1.62);
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    font-family: inherit;
    text-align: center;


    color: var(--button-text-color);
    background-color: var(--button-color);

    transition: color 250ms var(--timing-function), 
    background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
    &:hover,
    &:focus{
        color:var(--hero-color);
        background-color: var(--button-active-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}


.example-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
   }

.example-list__item{
    justify-content: center;
    color:var(--primary-backgraund-color);
    background-color:var(--primary-backgraund-color);  
    width: 100%;

    @include tablet {
        width: calc((100% - 30px) / 2);
    }
    
    @include desktop{
    width: calc((100% - 60px) / 3);}

}

.example__link{
    display: block;
    transition: box-shadow 250ms var(--timing-function);
    &:hover,
    &:focus{
     box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


.example__cards{
    position: relative;
    overflow: hidden;
}


.example__cards-text{
    position: absolute;
    @include font(null, 18px, 1.56);
    top: 0;
    left: 0;
    padding: 63px 24px 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    color: var(--hero-color);
    width: 100%;
    height: 100%;
    
    transform: translateY(101%);
    transition: transform 250ms var(--timing-function);
    overflow: auto;
    .example__link:hover &{
        transform: translateY(0);
    }
    
}



.example__conteiner{
    padding: 20px 24px 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.example__conteiner-title{
    @include font(700, 18px, 2, 0.06em);
    color: var(--title-text-color);
    margin-bottom: 4px;
}

.example__conteiner-after-title{
    @include font(null, 16px, 1.88);
    color: var(--primary-text-color);
    padding-bottom: 0px;
}

